<ol class="breadcrumb">
    <li>{{#link-to "index"}}Home{{/link-to}}</li>
    <li class="active">{{model.name}}</li>
</ol>

<p>
    {{#link-to "index" class="btn btn-secondary btn-sm"}}Back to home page{{/link-to}}
</p>


<h2>{{model.name}}</h2>
