{{yield}}
<ul class="list-inline">
    {{#each-in technologies as |technology timesUsed|}}
        <li>
            {{#link-to "technology" technology class=''}}
                {{technology}}
                {{number-label timesUsed}}
            {{/link-to}}
        </li>
    {{/each-in}}
</ul>
