{{yield}}
<ul class="list-inline">
    {{#each-in technologies as |index technology|}}
        <li>
            {{#link-to "technology" technology class=''}}
                {{technology.name}}
                {{number-label technology.used}}
            {{/link-to}}
        </li>
    {{/each-in}}
</ul>
