{{yield}}
<div class="list-group">
    {{#each-in technologies as |technology timesUsed|}}
        {{#link-to "technology" technology class='list-group-item'}}
            <span class="label label-default label-pill pull-right">{{timesUsed}}</span>
            {{technology}}
        {{/link-to}}
    {{/each-in}}
</div>
