<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        My portfolio
      </a>
    </div>
  </div>
</nav>

<h2 id="title">Welcome to Ember!!!</h2>

{{outlet}}
