<article id="top" class="container my-5">
    {{outlet}}
</article>

<footer id="footer" class="py-5 bg-secondary">
    <div class="container text-center">
        <a class="center-block float-sm-right text-light" href="#top">Back to top</a>
        <ul class="list-inline text-sm-left">
            <li class="list-inline-item"><a class="text-white" href="https://www.upwork.com/o/profiles/users/_~0130d941291b03d3c3/"><i class="fas fa-user"></i> Upwork</a></li>
            <li class="list-inline-item"><a class="text-white" href="mailto:lach@ukr.net"><i class="fas fa-envelope"></i> lach@ukr.net</a></li>
            <li class="list-inline-item"><a class="text-white" href="skype:progand"><i class="fab fa-skype"></i> progand</a></li>
        </ul>
        <div class="text-center text-light">Copyright &copy; 2018</div>
    </div>

</footer>
