<ol class="breadcrumb">
    <li class="active">Home</li>
</ol>

<h1>Home page</h1>

<div class="list-group">
    {{#each model as |project|}}
        {{#link-to "project" project class='list-group-item'}}
            <h4 class="list-group-item-heading">{{project.name}}</h4>

            <p class="list-group-item-text">{{project.description}}</p>
        {{/link-to}}
    {{/each}}
</div>

{{outlet}}
