<ol class="breadcrumb">
    <li class="active">Home</li>
</ol>

{{#project-list projects = model.projects}}
    <h1>My Projects</h1>
{{/project-list}}

<hr>

{{#technology-list technologies = model.technologies}}
    <h3>Used Technologies</h3>
{{/technology-list}}

{{outlet}}
