<ol class="breadcrumb">
    <li class="active">Home</li>
</ol>

{{#project-list projects = model.projects}}
    <h1>My Portfolio</h1>
{{/project-list}}

<hr>

<h2>Used Technologies</h2>
<ul class="list-inline">
    {{#each model.technologies as |technology|}}
        <li>
            {{#link-to "technology" technology class="label label-success"}}{{technology}}{{/link-to}}
        </li>
    {{/each}}
</ul>


{{outlet}}
